<!DOCTYPE html>
<html lang="en">

<head>
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <title>House party</title>
</head>

<body class="container-fluid">
  <!----------------------------------HEADER------------------------------------- -->
  <header>
    <div class="row">
      <div class="col-xl-10 ">
        <img src="img/TGIF-logo.JPG" class="" alt="TGIF LOGO" style="height:60px; width: auto;">
      </div>
      <div class="col-xl-2 d-flex align-content-center flex-wrap">
        <img src="img/Mail-logo.JPG" class="" style="height:30px; width: auto;" alt="mail logo">
        <a class="" href="mailto:info@tgif.net">info@tgif.net</a>
      </div>
    </div>
    <!-- <p>https://www.whitehouse.gov/the_press_office/TransparencyandOpenGovernment</p> -->
  </header>
  <!----------------------------------NAV------------------------------------- -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light border border-dark mb-2">
    <div class="text-white" id="navbarSupportedContent">
      <ul class="navbar-nav  mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="home-starter-page.html">Home</a>
        </li>
        <!-- congress 113 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Congress 113
          </a>
          <ul class="dropdown-menu bg-light border border-dark" aria-labelledby="navbarDropdown">
            <li class="dropdown-item">
              <a class="nav-link" href="house-starter-page.html">House</a>
            </li>
            <li class="dropdown-item">
              <a class="nav-link " href="senate-starter-page.html">Senate</a>
            </li>

          </ul>
        </li>

        <!-- attendance -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Attendance
          </a>
          <ul class="dropdown-menu bg-light border border-dark" aria-labelledby="navbarDropdown">
            <li class="dropdown-item">
              <a class="nav-link" href="house-attendance-page.html">House</a>
            </li>
            <li class="dropdown-item">
              <a class="nav-link " href="senate-attendance-page.html">Senate</a>
            </li>
          </ul>
        </li>

        <!-- Party loyalty -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Party Loyalty
          </a>
          <ul class="dropdown-menu bg-light border border-dark" aria-labelledby="navbarDropdown">
            <li class="dropdown-item">
              <a class="nav-link active" href="#">House</a>
            </li>
            <li class="dropdown-item">
              <a class="nav-link " href="senate-party-loyalty-page.html">Senate</a>
            </li>
          </ul>

        </li>

      </ul>
    </div>
  </nav>

  <!-----------------------------------Table container------------------------- -->
  <div id="app">
    <div class="row">
      <!-- party loyalty -->
      <div class="col text-justify">
        <h2>Party Loyalty</h2>
        <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans
          respectively,
          tend to be the most faithful in voting for their party's nominee for office and legislation that
          backs
          their
          party's agenda.
        </p>
      </div>
      <!-- glance -->
      <div class="col">
        <h2>Senate at a glance</h2>
        <table class="table table-bordered table-hover">
          <thead class="bg-light">
            <tr>
              <th>Party</th>
              <th>Number of Reps</th>
              <th>% Voted with Prty</th>
            </tr>
          </thead>
          <!-- vue -->
          <tbody>
            <tr v-for="data of general ">
              <td>{{data.partido}}</td>
              <td>{{data.cantidad}}</td>
              <td>{{data.VWP}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <!-- Top -->
      <div class="col">
        <h2>Most Loyal (Top 10% of Party)</h2>
        <table class="table table-bordered table-hover">
          <thead class="bg-light">
            <tr>
              <th>Name</th>
              <th>Number Party Votes</th>
              <th>% Party Votes</th>
            </tr>
          </thead>
          <!-- vue -->
          <tbody>
            <tr v-for="data of top">
              <td><a :href="data.nUrl"> {{data.fullName}} </a></td>
              <td>{{data.primer}}</td>
              <td>{{data.segundo}} %</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Bottom -->
      <div class="col">
        <h2>Least Loyal (Bottom 10% of Party)</h2>
        <table class="table table-bordered table-hover">
          <thead class="bg-light">
            <tr>
              <th>Name</th>
              <th>Number Party Votes</th>
              <th>% Party Votes</th>
            </tr>
          </thead>
          <!-- vue -->
          <tbody>
            <tr v-for="data of bot">
              <td><a :href="data.nUrl"> {{data.fullName}} </a></td>
              <td>{{data.primer}}</td>
              <td>{{data.segundo}} %</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!----------------------------------footer------------------------------------- -->
  <footer class="bg-light border border-dark mb-3">
    <p class="text-center p-2 mb-0">
      © 2019 TGIF | All Rights Reserved
    </p>
  </footer>

  <!----------------------------------SCRIPTS------------------------------------- -->
  <!-- VUE development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Scrips personales -->
  <script src="js/pro-congress-113-house.js"></script>
  <!-- <script src="js/stats.js">    </script> -->
  <script src="js/convue.js"></script>
  <!-- scripts default -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>