<!DOCTYPE html>
<html lang="en">

<head>
	<!-- VUE development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Bootstrap CSS web-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Bootstrap CSS archivo -->
	<!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
	<title>Senate</title>
</head>

<body class="container-fluid card">
	<!-- --------------------------------HEADER------------------------------------- -->
	<header class="">
		<div class="row">
			<div class="col-10 ">
				<img src="img/TGIF-logo.JPG" class="" alt="TGIF LOGO" style="height:60px; width: auto;">
			</div>
			<div class="col-2 d-flex align-content-center flex-wrap">
				<img src="img/Mail-logo.JPG" class="" style="height:30px; width: auto;" alt="mail logo">
				<a class="" href="mailto:info@tgif.net">info@tgif.net</a>
			</div>
		</div>
	</header>

	<!-- --------------------------------NAV------------------------------------- -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light border border-dark b-2">
		<div class="text-white" id="navbarSupportedContent">
			<ul class="navbar-nav  mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="home-starter-page.html">Home</a>
				</li>
				<!-- Cngress 113 -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Congress 113
					</a>
					<ul class="dropdown-menu bg-light border border-dark" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link active" href="#">Senate</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link" href="house-starter-page.html">House</a>
						</li>
					</ul>
				</li>
				<!-- attendance -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Attendance
					</a>
					<ul class="dropdown-menu bg-light border border-dark" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" href="house-attendance-page.html">House</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link " href="senate-attendance-page.html">Senate</a>
						</li>
					</ul>
				</li>

				<!-- Party loyalty -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Party Loyalty
					</a>
					<ul class="dropdown-menu bg-light border border-dark" aria-labelledby="navbarDropdown">
						<li class="dropdown-item">
							<a class="nav-link" href="house-party-loyalty-page.html">House</a>
						</li>
						<li class="dropdown-item">
							<a class="nav-link " href="senate-party-loyalty-page.html">Senate</a>
						</li>
					</ul>

				</li>
			</ul>
		</div>
	</nav>

	<!-- --------------------------------Table container------------------------------------- -->
	<div class="text-justify" id="app">
		<h2>Senators</h2>
		<p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S.
			Constitution. Each state is represented by two senators, regardless of population, who serve staggered
			six-year
			terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as
			a
			precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries,
			federal
			judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other
			federal
			uniformed officers, as well as trial of federal officials impeached by the House.
		</p>

		<section class="row no-gutters" id="filter">
			<div class="col-12 border border-dark bg-light p-2">
				<div class="row no-gutters ">
					<div class="col-2 pt-1">
						<h5>Filter by</h5>
					</div>
					<div class="col-1 pt-2 ">
						<h6>Party:</h6>
					</div>
					<div class="col-2 pt-2">
						<label>
							<input type="checkbox" name="Democrat" value="D" checked v-model="filtros" @click="seleccionarElegidos" >Democrat
						</label>
					</div>
					<div class="col-2 pt-2">
						<label>
							<input type="checkbox" name="Republican" value="R" v-model="filtros" @click="seleccionarElegidos"  checked>Republican
						</label>
					</div>
					<div class="col-2 pt-2">
						<label>
							<input type="checkbox" name="Independent" value="I" v-model="filtros" @click="seleccionarElegidos"  checked>Independent
						</label>
					</div>
					<div class="col-1 pt-2">
						<h6>States:</h6>
					</div>
					<div class="col-2">
						<select id="select-states" class="form-control" v-model="estado" @click="seleccionarElegidos">
							<option v-for="est of estados" :value="est.value">{{est.name}}</option>
						</select>
					</div>
				</div>
			</div>
		</section>

		<table id="table-data" class="table mt-2 table-bordered table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Party</th>
					<th>State</th>
					<th>Years in office</th>
					<th>%Votes w/party</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="ap of aprobados">
					<th><a :href="ap.url"> {{ap.fullName}} </a></th>
					<th>{{ap.party}}</th>
					<th>{{ap.state}}</th>
					<th>{{ap.seniority}}</th>
					<th>{{ap.votes_with_party_pct}}</th>
				</tr>
			</tbody>
		</table>

	</div>
	<!-- --------------------------------footer------------------------------------- -->
	<footer class="bg-light border border-dark mb-3">
		<p class="text-center p-2 mb-0">
			© 2019 TGIF | All Rights Reserved
		</p>
	</footer>

	<!-- --------------------------------SCRIPTS------------------------------------- -->
	<!-- VUE development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- Scrips personales -->
	<script src="js/pagevue.js">	</script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<!-- <script src="js/bootstrap.min.js"></script> -->

</body>

</html>